{% load static %}
<html>
    <head>
        <title>post_list page</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="{% static 'css/blog.css' %}">

		

    </head>
    <body>
	    <div class="page-header">
		    {% if user.is_authenticated %}
		        <font size="4"><a href="{% url 'post_new' %}" class="top-menu">Add post</a></font>

		        <p class="top-menu">Welcome, {{ user.username }} <font size="3">(<a href="{% url 'logout' %}">Log out</a>)</font></p>

		    {% else %}
		        <a href="{% url 'login' %}" class="top-menu">Login</span></a>
		    {% endif %}
		    <h1><a href="/">Blog Post</a></h1>
		</div>
		
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
	    </div>
	</body>
</html>